- title 'Frequently Asked Questions'

#sidebar
  = tweet_this_page

  = partial 'quote'


%h2= yield(:page_title)

%h3 What is it you do here?
%p
  We look for special Twitter statuses, or tweets, that are some kind of 
  metric or value that you&#8217;d like to track.  
  By graphing that data over time, we can help you keep a record, spot trends, 
  meet goals&hellip; 
  
%h3 What kind of data can I twack?
%p
  Just about anything you can stick a number to. Your 
  weight, expenses, time spent exercising or working, your car&#8217;s mileage&hellip;

%h3 How do I twack something?
%p
  Using your favorite Twitter client, send a message to 
  %strong @twackit 
  with a numeric value and at least one hashtag. You can include a note to give your 
  twack some additional human-friendly context if you&#8217;d like.
%p 
  For example, if you&#8217;d like to twack your weight and today you weighed
  in at a svelte 135 pounds (or kilograms, if you play for that team):

%blockquote.tweet
  @twackit 135 #weight this diet seems to be working
  
%h3 How do I view my reports and graphs?
%p
  After you&#8217;ve sent a tweet to @twackit, come back
  to Twackit and enter your Twitter username and one of your hashtags in the
  form at the top of the page and click the shiny blue 
  = fancy_quote 'Report'
  button.
%p
  Note that Twackit pulls in new twacks only about once an hour, so your latest
  data may not show up right away. Bookmark your report page so you&#8217;ll 
  remember to check back later.

%h3 Is my information safe?
%p
  It&#8217;s the internet, so&hellip; no, not really. Just don&#8217;t tweet 
  or twack anything that you aren&#8217;t comfortable sharing
  with the rest of the world.

%h3 I have a really awesome idea for a feature!
%p
  That&#8217;s technically not a 
  %em question,
  but poke the blue feedback button to get to our 
  == #{link_to_function 'UserVoice forum', "UserVoice.Popin.show()"}
  and let us know what&#8217;s on your mind. We think that people will find 
  lots of interesting, creative ways to use Twackit, so we really want to 
  hear from you.

%h3 
  Why does the word 
  = fancy_quote 'twackit'
  make me feel dirty?
%p
  Because you&#8217;re a godless heathen.

%h3 I don&#8217;t have a Twitter account. Can I still, um, twack it?
%p
  Sorry, no. Go
  = link_to 'sign up', 'http://twitter.com/signup'
  and join the twackiness!
