%h2
  Use your Twitter account to track any metric &amp; observe trends over time.

%a.screenshot{ :href => "/images/screenshot.png", :rel => "lightbox" }
  
%p.caption
  Once you've started twacking, see your report at
  = succeed '.' do
    %strong.highlight http://twackit.com/<abbr title="Your Twitter username">username</abbr>/<abbr title="A hashtag you twacked with, such as 'weight'">hashtag</abbr>
      
%p  
  %strong
    Just tweet a value and hashtag to 
    == #{link_to '@twackit', 'http://twitter.com/twackit'}.      
  You don&#8217;t need to sign up for anything, and it&#8217;s totally free!
%p
  Twackit will find your tweets and generate simple reports.      
  Twack as many different things as you like &mdash; just pick meaningful hashtags to 
  %strong categorize 
  your twacks. You can even include a 
  %strong note 
  if you&#8217;d like!
    
%p
  Here are some examples to help you get started&hellip;

= partial 'tweet' do
  @twackit 165 #weight
= partial 'tweet' do
  @twackit 37 #mpg a lot of highway driving this week!

%br
%p
  Use more than one hashtag if you want to 
  %strong drill down 
  in different ways.

= partial 'tweet' do
  @twackit 1.50 #expenses #tolls
= partial 'tweet' do
  @twackit 7.35 #expenses #lunch Mel's Diner

%br
%p
  %strong Want to know more?
  Check out the
  = link_to 'FAQ', faq_path, :title => 'Frequently Asked Questions'
  for more information.