- javascript :visualization, 'http://www.google.com/jsapi'
- title "#{@report.twitterer.username} / #{@report.title}"


#updated
  %p#updating.wait{ searching_indicator_options } Searching for updates&hellip;
  %p#updated_at{ updated_timestamp_options }
    - if @report.tweets.any?
      Updated
      %span.when= smart_timestamp @report.tweets.last.status_at
  %p#refresh_prompt{ :style => 'display: none;' }
    %strong 
      = succeed '!' do
        Found
        %span.count
    = link_to 'Reload this page'
    to see 
    = succeed '.' do
      %span.pronoun
%h2
  - twitter_profile_url = "http://twitter.com/#{@report.twitterer.username}"

  = succeed '&#8217;s' do
    - if @report.twitterer.picture_url.blank?
      = link_to @report.twitterer.full_name, @report.twitterer.picture_url
    - else 
      = link_to image_tag(@report.twitterer.picture_url, :alt => @report.picture_description) + @report.twitterer.full_name, twitter_profile_url
  = @report.title  
  Report

- if @report.tweets.any?

  #chart.report-container
    %h4 Timeline
    #timeline.data
      %p.wait Loading...

  #calendar.report-container
    %h4 Calendar
    .data
      - 2.downto(0) do |months_ago|
        = tweet_calendar(Date.today << months_ago)

  #stats-and-data
    #stats.report-container
      %h4 Stats
      .data
        %dl
          %dt Low
          %dd= @report.stats[:min]

          %dt High
          %dd= @report.stats[:max]

          %dt Average
          %dd= number_with_precision @report.stats[:avg], :precision => 2

          %dt Change
          %dd
            = number_with_precision @report.stats[:amount_change], :precision => 2
            = surround '(', ')' do
              = number_to_percentage @report.stats[:percent_change], :precision => 2

    #raw-data.report-container
      %h4 Data Points
      #data_table.data
        %p.wait Loading...

- else
  %p 
    %strong No tweets found yet.
    Twackit searches for new tweets every minute.

:javascript
  var twitterer = #{@report.twitterer.username.to_json};
  var hashtag = #{@report.hashtag.to_json};
  var backgroundSearch = #{@background_search.to_json};

  vizData = #{@report.visualization_data.to_json};  
  google.load('visualization', '1', {'packages':['annotatedtimeline', 'table']});
  google.setOnLoadCallback(initViz);

  