- javascript 'http://www.google.com/jsapi', :visualization
- title "#{@report.twitter_username} / #{@report.title}"

%h2
  - twitter_profile_url = "http://twitter.com/#{@report.twitter_username}"

  = succeed '&#8217;s' do
    - if @report.picture_url.blank?
      = link_to @report.full_name, twitter_profile_url
    - else 
      = link_to image_tag(@report.picture_url, :alt => @report.picture_description) + @report.full_name, twitter_profile_url
  = @report.title
  Report

- if @report.tweets.any?
  %p.updated
    Updated
    %span.when= smart_timestamp(@report.tweets.last.status_at)

  %ul.tabs
    %li 
      %a Chart
      %a Calendar
      %a Table
      %a Stats

  #chart
    %h4 Chart
    #line_chart


  #calendar
    %h4 Calendar
    - date = 2.months.ago.to_date
    - 3.times do
      = tweet_calendar(date)
      - date >>= 1

  #stats
    %h4 Stats
    %dl
      %dt Low
      %dd= @report.stats[:min]

      %dt High
      %dd= @report.stats[:max]

      %dt Average
      %dd= @report.stats[:avg]

      %dt Change
      %dd== #{@report.stats[:amount_change]} (#{number_to_percentage(@report.stats[:percent_change], :precision => 2)})

  #raw-data  
    %h4 Raw Data
    %table.raw-data
      / %thead
      /   %tr
      /     %th Value
      /     %th Created
      %tbody
        - for tweet in @report.tweets
          %tr
            %th= tweet.data
            %td= tweet.status_at.to_s(:short)
    #data_table

- else
  %p 
    %strong No tweets found yet.
    Twackit searches for new tweets every hour.

:javascript
  vizData = #{@report.visualization_data.to_json};  
  google.load('visualization', '1', {'packages':['table', 'linechart']});
  google.setOnLoadCallback(initViz);
