!!! Strict
%html
  %head
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }
    %title
      Twackit - 
      = yield(:page_title) || 'Whatever it is, track it with Twackit!'

    %meta{ :name => 'description', :content => 'Use your Twitter account to track any metric and observe trends over time. Twackit will find your tweets and generate simple reports.' }
    
    = stylesheet_link_tag 'reset', 'screen', 'lightbox', :cache => true
    = javascript_include_tag :all, :cache => true


    - unless @javascripts.blank?
      - for javascript in @javascripts
        %script{ :type => 'text/javascript', :src => javascript }
        
    - unless @styles.blank?
      - for style in @styles
        %link{ :rel => 'stylesheet', :href => style, :type => 'text/css', :media => 'screen' }
    
  %body  
    #message.work-in-progress
      %span
        %a.close{ :href => '#', :onclick => "document.getElementById('message').style.display = 'none';" } &times; 
      %p
        Twackit is still a work in progress, so any
        %strong
          %a.feedback{ :href => '#', :onclick => "UserVoice.Popin.show()" } feedback
        would be awesome!

    #page
      #header

        #report-form
          - form_tag root_path do
            http://twackit.com/
            = text_field_tag :twitter_username, @twitter_username || 'your Twitter username', :onfocus => 'this.select();'
            = '/'
            = text_field_tag :hashtag, @hashtag || 'your twacking hashtag', :onfocus => 'this.select();'
            = submit_tag 'Report'

  
        %h1= link_to 'Twackit', root_path
        %p Whatever it is, track it with Twackit!
    
      #content{ :class => [controller.controller_name, controller.action_name].join(' ') }          
        = yield

      #footer
        %p
          = render :partial => 'layouts/pledgie'
        %p
          Copyright &copy; 2009, 
          == #{link_to 'Jeremy Weiskotten', 'http://twitter.com/twackit'}.
          %strong
            %a.feedback{ :href => '#', :onclick => "UserVoice.Popin.show()" } Feedback
          |
          = link_to 'FAQ', faq_path

    = render :partial => 'layouts/uservoice'
    = render :partial => 'layouts/google_analytics'