!!! Strict
%html
  %head
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }
    %title
      Twackit - 
      = yield(:page_title) || 'Whatever it is, track it with Twackit!'
      
    = stylesheet_link_tag 'reset', 'screen', :cache => true
    =# javascript_include_tag :defaults

  %body  
    #page
      #header

        #report-form
          - form_tag root_path do
            http://twackit.com/
            = text_field_tag :twitter_username, @twitter_username || 'your Twitter username', :onfocus => 'this.select();'
            = '/'
            = text_field_tag :hashtag, @hashtag || 'your twacking hashtag', :onfocus => 'this.select();'
            = submit_tag 'Report'

  
        %h1= link_to 'Twackit', root_path
        %p Whatever it is, track it with Twackit!
    
      #content{ :class => controller.controller_name }
        .work-in-progress
          Thanks for visiting! Twackit is still a work in progress and your
          %strong= link_to_function 'feedback', "UserVoice.Popin.show()"
          is appreciated.
          
          
        =# flash_messages
        = yield

      #footer
        %p
          Copyright &copy; 2009, 
          == #{link_to 'Jeremy Weiskotten', 'http://twitter.com/doctorzaius'}.
          %strong= link_to_function 'Feedback', "UserVoice.Popin.show()"

    = render :partial => 'layouts/uservoice'
    = render :partial => 'layouts/google_analytics'